metadata_20250110
testing_files
train_xml_data
train_xml_data_t
train_processed_data
metadata_20250110
mri_prep
test_xml_data
test_xml_data_t
test_processed_data
metadata_20250110
mri_prep
test_xml_data
test_xml_data_t
test_processed_data
metadata_20250110
testing_files
test_xml_data
test_xml_data_t
test_processed_data
